body{margin:0}
p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Garamond,serif;font-size:127%}
.li1{font-family:Garamond,serif;font-size:127%}
.p0{text-indent:0;line-height:200%;text-align:center}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;line-height:200%}
.p4{text-indent:0;text-align:left;margin-bottom:.71em}
.p5{text-indent:0;line-height:200%;text-align:right}
.p6{text-indent:0;line-height:100%;text-align:left}
.p7{text-indent:2.5em;margin-left:0}
.p8{text-indent:2.6em;margin-left:0}
.p9{text-indent:0;margin-left:2.5em}
.p11{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;margin-top:0;margin-bottom:.63em;font-family:Garamond,serif;font-size:218%;font-weight:normal;letter-spacing:.01em}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:200%;margin-right:0;margin-top:.63em;margin-bottom:0;font-family:Garamond,serif;font-size:145%;font-weight:normal}
.h21{text-indent:0}
.l1{margin-left:3.8em}
.t0{font-size:2em;line-height:200%;font-weight:bold}
.t1{font-size:1.9em;line-height:200%;font-weight:bold}
.t2{font-style:italic}
.t4{font-style:italic}
.t7{font-weight:bold}
.t8{font-weight:bold}
.t9{font-family:"Times New Roman",serif;font-size:.86em;line-height:100%}
.t10{font-family:"Times New Roman",serif;font-size:.86em;line-height:115%}
.t11{font-size:1.1em;line-height:115%}